extends layout

block content
	//- div(class='hero-unit text-center')
	//- 	form(class='form-horizontal', id='search', action='/listMovies', method='post')
	//- 		div(class='inline-block')
	//- 			legend Search for hot movies!
	//- 			div(class="control-group")
	//- 				label(class="control-label", for='zip') Playing Near
	//- 				div(class="controls")
	//- 					input(type="text", id="zip", name="zip", placeholder="ZipCode")
	//- 			div(class="control-group")
	//- 				label(class="control-label", for='genre') Movie Genre
	//- 				div(class="controls")
	//- 					input(type="text", id="genre", name="genre", placeholder="Genre")
	//- 			div(class="control-group")
	//- 				label(class="control-label", for='rating') MPAA Rating
	//- 				div(class="controls")
	//- 					input(type="text", id="rating", name="rating", placeholder="Rating")
	//- 			div(class="form-actions")
	//- 				input(type="submit", class='btn', value="Find Me Movies!")
	div(id='movies')
		include _movies