body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inline-block {
	display: inline-block;
	margin-left: 10px;
}

.not-bold {
	font-weight: normal;
}

.movie {
	min-height: 270px;
}

.wide {
	min-width: 800px;
}

.btn {
	border-radius: 10px;
	font-size: 16px;
}